@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1598250127818'); /* IE9 */
  src: url('iconfont.eot?t=1598250127818#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABqAAAAKcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIE8ATYCJAMICwYABCAFhG0HOhvsBRHVkz1kXwzYjfKtpKA8a5ZRo9wH8hwtd7AcvczM3MHz/X6/X/ueg4mkNzQVC8m9MzQSQ0hUb2JfRPPj4fP2/v5gN6Uks0BDiAINtLvaDNc3RlBpzNoMfUZFGKpkPPhvnrK5BoQJ+RYAPs/h0iZQIPM/7+Uyx6RJvQDjQAp0DxyT5A7kAPyGsQtcwnkIYEugeJJlURUNjTVNABm6t52WC6LRLGONYFmzViObLLA2lsolsBH+vnzFFA0MLBRWTVlPdhfbh3E7JyfXpCafIAQC2mwBKCAeaJCq2mQJiTCawjZZCcW+KgU+jC+zb0b2+s9DLLHK7QHwh8J7ErniW+U0ANAwGEygctQ+oOztfQevr6v+m+p5Vztumxx5TcTPPuS7brhX3hC7cbt8DZM3diuztu8/y7ciU+voytev1aHN8/leU5rzY0+dnioo28N8KMXffvflrruMY7lXuNfQW1lc2dBTlFdeYpnOxC9OLEkpSSYNgHkjt8rxv/wb5q8/HbQ6Jf23ttMAPPWfG6HfvFHp5wbrM7oE/pyoZ4fWJZbJ0KqoNmtgou6ozhZbwAz2unoxVutxm3bBOidiMLAiAAprwomaGg8L7EiAJdakwpY4uZvtcDNBItoGiDUHIDg7goEjJ1A4uyJq6nNY4Ok7LHGOhC014ranHZHh7jIVk2Gl+U9xkYMdi7mo8gb/3ibNSkL6C3rFCLVVU8yMOKBzLLg+vjNjYpWdBnAZtk3oVElYrApmZ1/XXPemapG9cDIVk2El85/ERQ72e5sr/fwN/r1N2tJW435Brzg8aVWaHsRRefRqu5drro/vmDFhlZ0MYBS2TchZPyphsUoYET97td2N+yqr9dX71+2DztKVsI9LzgfMoCVKedsWDxQF') format('woff2'),
  url('iconfont.woff?t=1598250127818') format('woff'),
  url('iconfont.ttf?t=1598250127818') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1598250127818#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter-e-outline:before {
  content: "\e671";
}

